html,
body {
    font-family: "Poppins", sans-serif;
    margin: 0;
}


/* LAYOUT BEGIN */
.container {
    width: 100%;
    margin: 160px 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.w-25 {
    width: 25%;
    box-sizing: border-box;
}

.w-50 {
    width: 50%;
    box-sizing: border-box;
}

.w-75 {
    width: 75%;
    box-sizing: border-box;
}

.w-100 {
    width: 100%;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

/* LAYOUT END */

/* TEXT BEGIN */
.title {
    font-size: 36px;
    font-weight: 300;
    margin: 8px;
    margin-bottom: 24px;
}

a {
    text-decoration: none;
}

p {
    margin: 8px;
}
.text-left {
    text-align: left;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}

/* TEXT END */

/* FORM BEGIN */
/*
button {
    margin: 12px;
    padding: 8px 20px;
    border-radius: 3px;
    border: 1px solid #d5d5d5;
    background-color: #f5f5f5;
    transition: all 100ms ease-in-out;
}

button:hover {
    cursor: pointer;
    background: #0096D6;
    color: white;
}

input.w-50,
.input-group.w-50 {
    width: calc(50% - 12px);
}

input.w-100,
.input-group.w-100 {
    width: calc(100% - 12px);
}

.input-group {
    display: flex;
    flex-direction: column;
}

.input-group label {
    font-size: 14px;
    font-weight: 3 00;
}

.form-message {
    text-align: center;
    margin: 0;
    width: 100%;
}
*/
/* FORM END */